/* Basic styling */
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
body {
  font-family: sans-serif;
  background: #f8f8f8;
}
nav {
  background: #a5d351;
  /* background: #97b06b; */
  padding: 0px 25px;
}
ul {
  list-style-type: none;
}
a {
  color: white;
  /* font-family: "Georgia, Times, Times New Roman, serif"; */
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-weight: bold;
  text-decoration: none;
  font-size: large;
}

a:hover {
  color: rgb(0, 0, 0);
  text-decoration: none;
  /* border-bottom: 2px solid rgb(36, 36, 36); */
}

/* Submenu: Nuestros Servicios */
.dropdown {
  order: 1;
}
.nav-link {
  color: white;
}
.nav-link:focus, .nav-link:hover{
  color: black;
  text-decoration: none;
}
.dropdown-item {
  display: -webkit-inline-box;
  width: 100%;
  padding: 0.25rem 1rem;
  clear: both;
  font-weight: 400;
  color: #595b5c;
  text-align: inherit;
  text-decoration: none;
  white-space: nowrap;
  background-color: transparent;
  border: 0;
}

.logo a:hover {
  text-decoration: none;
}
.menu li {
  font-size: 16px;
  padding: 15px 5px;
  white-space: nowrap;
}
.logo a,
.toggle a {
  font-size: 20px;
}
.button.secondary {
  border-bottom: 1px #444 solid;
}
/* Mobile menu */
.menu {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items:center;
}
.toggle {
  order: 1;
}
.item.button {
  order: 5;
}
.button a {
  padding: 7px;
  background: rgb(3, 133, 133);
  border: 1px #006d6d solid;
}
.item {
  width: 100%;
  text-align: center;
  order: 3;
  display: none;

}
.item.active {
  display: block;
}

/* Tablet menu */
@media all and (min-width: 600px) {
  .menu {
    justify-content: center;
  }
  .logo {
    flex: 1;
  }
  .toggle {
    flex: 1;
    text-align: right;
  }
  .item.button {
    width: auto;
    order: 1;
    display: block;
  }
  .toggle {
    order: 2;
  }
  .button.secondary {
    border: 0;
  }
  .button a {
    padding: 7.5px 15px;
    background: teal;
    border: 1px #006d6d solid;
  }
  .button.secondary a {
    background: transparent;
  }
  .button a:hover {
    text-decoration: none;
  }
  .button:not(.secondary) a:hover {
    background: #006d6d;
    border-color: #005959;
  }
  .button.secondary a:hover {
    color: #ddd;
  }
}
/* Desktop menu */
@media all and (min-width: 900px) {
  .item {
    display: block;
    width: auto;
  }
  .toggle {
    display: none;
  }
  .logo {
    order: 0;
  }
  .item {
    order: 1;
  }
  .button {
    order: 2;
  }
  .menu li {
    padding: 15px 10px;
  }
  .menu li.button {
    padding-right: 0;
  }
}

/* Aviso de Contrato Digital */
.container {
  padding-left: 0 !important;
  padding-right: 0 !important;
  width: 100% !important;
}

.dj-banner {
  /* background: linear-gradient(to bottom, rgba(196, 200, 206, 0.568), rgba(133, 152, 155, 0.486), rgba(149, 161, 173, 0.582)), url(https://i.pinimg.com/564x/89/62/40/89624062d39214d952236b6d5e4b3f91.jpg); */
  background-image: url(../IMG/FirmaDigital3.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover; 
  width: 100%;
  margin-top: -16px;
}
.dj-banner .dj-bg img{display: block; margin: 20px auto; padding: 20px 0;}
@media screen and (min-width:768px){
  .dj-banner .dj-bg img{margin-right: 100px;}
  .dj-banner .dj-text{position: absolute; top: 50%; left: 10%; transform: translate(-10%, -50%); width: 50%; text-align: left;}
  .dj-banner .dj-text h1{font-size: calc(2*1.5vw);}
  .dj-banner .dj-text p{font-size: calc(1.2*1.5vw);}
}

#textoCompletoCD {
  text-align: center;
  padding: 20%;
}

.bgText{
  text-shadow: rgba(92, 92, 92, 0.1) -1px 0, rgba(0,0,0,0.1) 0 -1 px,
   rgba(255,255,255,0.1) 1px 0, rgba(255,255,255,0.1) 0 1px,
   rgba(0,0,0,0.1) -1px -1px, rgba(255,255,255,0.1) 1px 1px;
  color: rgb(255, 255, 255);
  background: rgba(150, 150, 150, 0.459);
}

#text1-CD {
  font-family: "Georgia";
  font-weight: bold;
}

#text2-CD {
  font-family: "Georgia";
  font-weight: bold;
}

/* Tipos de Servicios */
#bgTiposServicios {
  background-image: url(../IMG/Background.jpg); background-repeat: no-repeat; background-position: center; background-size: cover; width: 100%;
  padding-top: 5%;
  padding-bottom: 9%;
}

#bgTituloNS {
  padding-bottom: 5%;
}

.TituloNS {
  text-align: center;
  font-family: "Georgia";
}
.SubTituloNS {
  text-align: center;
  font-family: "Gill Sans";
  color: #595b5c;
}

.img-contenedor img{
-webkit-transition:all .9s ease; /* Safari y Chrome */
-moz-transition:all .9s ease; /* Firefox */
-o-transition:all .9s ease; /* IE 9 */
-ms-transition:all .9s ease; /* Opera */
width:100%;
}
.img-contenedor:hover img {
-webkit-transform:scale(1.13);
-moz-transform:scale(1.13);
-ms-transform:scale(1.13);
-o-transform:scale(1.13);
transform:scale(1.13);
}

/* Sobre Nosotros */
.bgSobreNosotros {
  padding: 10% 20%;
}

#TituloSN {
  text-align: center;
  font-family: "Georgia";
}

#TextSobreNosotros {
  font-family: "Gill Sans";
  font-size: x-large;
  padding: 5%;
}

/* Escríbenos */
.row {
  margin-left: 0px;
}
#bgEscribenosConvenios{
  background-image: url(../IMG/Background.jpg); background-repeat: no-repeat; background-position: center; background-size: cover; width: 100%;
  padding-top: 5%;
  padding-bottom: 9%;
}

#TituloE {
  text-align: center;
  font-family: "Georgia";
}

/* Formulario de Contacto */
.control-label{
  text-align: center;
  font-family: "Georgia";
}

#submit{
  border-radius: 5px;
  background: rgb(33 37 41);
  height:44px; color: white;
  width: 175px; text-align: center;
  font-size: 17px;
  padding: 10px 0;
  border: none;
  font-family: "Georgia";
}

#TituloC {
  text-align: center;
  font-family: "Georgia";
  padding-bottom: 15%;
}

/* Convenios */
img.d-block {
  margin: auto;
  display: block
}

/* Footer  */
.bgFooter {
  width:100%;
  margin:0 auto;
  background-color: #a5d351;
  position: relative;
  clear: both;
  text-align: center;
  padding-top: 50px;
  padding-bottom: 15px;
}

.TituloFooter {
  text-align: left;
  font-family: "Georgia";
  padding-left: 20px;
}

.listFooter {
  text-align: left;
  padding-top: 15px;
}

i {
  font-size: 25px;
}

.linkFooter {
  color:rgb(43, 43, 43);
  font-family: "Georgia";
  font-weight: lighter;
}

/* Copyright */
.footer-minimal .rights {
  color: rgba(255, 255, 255, 0.5);
}
.footer-minimal * + .rights {
  padding: 50px 0px 10px;
}
p.rights {
  font-size: 14px;
  color: rgba(21, 21, 21, 0.8);
  font-family: "Poppins", sans-serif;
  padding-top: 40px;
}
